/* Стили для всего документа */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  display: block;
  position: relative;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
  margin: 0 auto;
  display: block;
  position: relative;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}
 /* Текст */
p, a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.83vw;
  font-weight: 600;
  line-height: 130%;
}
 h1 {
  font-size: 13.02vw;
  font-family: Vela Sans;
  color: var(--blue);
  font-weight: 500;
  text-align: center;
 }
 h2 {
  font-size: 5.21vw;
  font-family: 'IBM Plex Serif';
  color: var(--blue);
  font-weight: 500;
  text-align: center;
 }
 .pSmall {
  font-size: 0.52vw;
 }
 .ibmPlexSerif {
  font-family: 'IBM Plex Serif';
 }
 .velaSans {
  font-family: 'Vela Sans';
 }
 /* Меню */
 .menuFlex {
  display: flex;
  gap: 1.5vw;
 }
 .menuPositionLeft {
  margin-top: -3.7vw;
  margin-left: 1.5vw;
  position: relative;
 }
 .menuPositionLeftTop {
  top: -0.8vw;
 }
 .menuPositionCenter {
  top: -2.2vw;
  left: 2.5vw;
  position: relative;
 }
 .menuPositionRight {
  margin-top: -3.7vw;
  margin-left: 3vw;
  position: relative;
 }
 .menuPositionRightTop {
  top: -0.8vw;
 }
/* Дополнительные */
.zIndex {
  z-index: 100;
}
.pPaddingLeft {
  padding-top: 1vw;
}
.pPaddingRight {
  padding-top: 0.7vw;
}
.pSmallPadding {
  padding-top: 0.15vw;
}
/* Рамка с вытачками */
.frameWidth {
  display: block;
  width: 100vw;
  height: 1.5vw;
  background-color: #5F64E7;
  position: relative;
}
  .frameHeight {
    display: block;
    width: 1.5vw;
    height: 100vh;
    background-color: #5F64E7;
    position: relative;
  }
  .framesHeightFlex {
    display: flex;
    justify-content: space-between;
    margin-top: -6.3vw;
  }
  .recessLeftTop {
    width: 19.11vw;
    height: 4.84vw;
    background-image: url(../images/recessLeftTop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .recessCenterTop {
    width: 10.83vw;
    height: 3.44vw;
    background-image: url(../images/recessCenterTop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .recessRightTop {
    width: 19.11vw;
    height: 4.95vw;
    background-image: url(../images/recessRightTop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0;
    background-repeat: no-repeat;
  }
  .recessesTopFlex {
    display: flex;
    justify-content: space-between;
    margin-top: -1.6vw;
  }
  .recessLeftBottom {
    width: 19.84vw;
    height: 7.50vw;
    background-image: url(../images/recessLeftBottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .recessRightBottom {
    width: 18.33vw;
    height: 7.50vw;
    background-image: url(../images/recessRightBottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .recessesBottomFlex {
    display: flex;
    justify-content: space-between;
    margin-top: -7.5vw;
  }
  .frameWidthBottomPosition {
    display: block;
  }
  /* Фото */
  .portret {
    width: 2vw;
    height: 2.9vw;
    background-image: url(../images/portret.png);
    background-size: 100%;
  }
  .qrTg {
    width: 2.97vw;
    height: 2.97vw;
    background-image: url(../images/qrTg.svg);
    background-size: 100%;
  }
  .arrow {
    width: 9.22vw;
    height: 0.63vw;
    background-image: url(../images/arrow.svg);
    background-size: 100%;
  }
  /* .photoSequence {
    width: 100vw;
    height: 100vh;
    top: -100vh;
    background-image: url(../images/photoSequence.jpg);
    background-size: cover;
    position: relative;
    z-index: -50;
    background-repeat: no-repeat;
    background-position: center;
  } */
  .hiddenRectangle:hover ~ .photoSequence {
    background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    /* transition-timing-function: ease-in-out; */
  }
  .photoSequence h1, .photoSequence h2 {
    opacity: 0;
  }
  .hiddenRectangle:hover ~ .photoSequence h1,
  .hiddenRectangle:hover ~ .photoSequence h2 {
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    opacity: 1;
  }
  .hiddenRectangle {
    width: 50vw;
    height: 50vh;
    position: absolute;
    z-index: 400;
    left: 25vw;
    top: 20vh;
    background-repeat: no-repeat;
  }
  .home-demo {
    top: -100vh;
    position: relative;
    z-index: -50;
    width: 100vw;
    height: 100vh;
  }
  /* .item {
    width: 100vw;
    height: 100vh;
  } */
  #firstSlide {
    background-image: url(../images/photoSequence.jpg);
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  #secondSlide {
    background-image: url(../images/photoSequence2.jpg);
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
/* .owl-prev, .owl-next {
    height: 6.2vw;
    position: absolute;
    width: 3vw;
    cursor: pointer;
    top: calc((100vh - 5.98vw)/2);
}
.owl-prev {
  background: url(../images/arrowLeft.svg) no-repeat center !important;
  background-size: 100% !important;
  left: 2.92vw;
}
.owl-next {
  background: url(../images/arrowRight.svg) no-repeat center !important;
  background-size: 100%;
  right: 2.92vw;
}
span {
  height: 6.2vw;
    position: absolute;
    width: 3vw;
    cursor: pointer;
    top: calc((100vh - 5.98vw)/2);
} */
/* .owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 400;
}
.owl-prev {
  left: 3vw;
}
.owl-next {
  right: 3vw;
} */