.hiddenRectangle {
  width: 50vw;
  height: 50vh;
  position: absolute;
  z-index: 1200;
  left: 25vw;
  top: 20vh;
  background-repeat: no-repeat;
}
#firstSlide {
  position: relative;
  background-image: url(../images/photoSequence.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#secondSlide {
  position: relative;
  background-image: url(../images/photoSequence2.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#thirdSlide {
  position: relative;
  background-image: url(../images/photoSequence3.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#fourthSlide {
  position: relative;
  background-image: url(../images/photoSequence4.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#fifthSlide {
  position: relative;
  background-image: url(../images/photoSequence5.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#sixthSlide {
  position: relative;
  background-image: url(../images/photoSequence6.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#seventhSlide {
  position: relative;
  background-image: url(../images/photoSequence7.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#eigthSlide {
  position: relative;
  background-image: url(../images/photoSequence8.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
#ninthSlide {
  position: relative;
  background-image: url(../images/photoSequence9.jpg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -700;
}
/* Здесь должны быть ховеры, по которым становится виден текст и ещё второй фон */
.hiddenRectangle:hover ~ #firstSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #secondSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #thirdSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #fourthSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #fifthSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #sixthSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #seventhSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #eighthSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.hiddenRectangle:hover ~ #ninthSlide {
  background-image: url(../images/whiteTransperent.svg), url(../images/photoSequence.jpg);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.change h1, .change h2 {
  opacity: 0;
  top: 18vh;
}
.hiddenRectangle:hover ~ .change h1,
.hiddenRectangle:hover ~ .change h2 {
  transition-delay: 0.2s;
  transition-duration: 0.4s;
  opacity: 1;
}
/* Слайдер */
.home-demo {
  top: -100vh;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.changePosition {
  position: absolute;
  margin-top: -60vh;
  margin-left: -46.5vw;
}
.changePosition2 {
  position: absolute;
  margin-top: -60vh;
  margin-left: 44vw;
}
